<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} tailwind {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% comment %} flowbite {% endcomment %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
</head>
<body>
  
    {% comment %} <button type="submit"><a href="login">Sign In</a></button> {% endcomment %}

</body>
    {% comment %} flowbite {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</html>